<!-- ======= Header ======= -->
  <nav class="navbar">
      <a href="/" class="logo"><img src="/images/icons/jpg/shpe_logo_with_UNT.jpg" alt=""></a>
      <ul class="nav-list">
        <li class="dropdown">
	  <a href="/about">About</a>
	  <div class="dropdown-content">
	    <a href="/about/SHPEtinas">SHPEtinas</a>
	    <a href="/about/SHPEJr">SHPE Jr</a>
	  </div>
	</li>
        <li class="dropdown">
	  <a href="/events">Events</a>
	  <div class="dropdown-content">
	    <a href="StudySessions">Study Sessions</a>
	    <a href="EventCalender">Event Calender</a>
	    <a href="Conferences">Conferences</a>
	  </div>
	</li>
        <li><a href="membership">MemberSHPE</a></li>
        <li><a href="gallery">Gallery</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>
<!-- End Header -->
