/*------------------------------
	About Us
--------------------------------*/
#about {
	padding-top: 25px;
  position: relative;
}

#about .container {
	display: grid;
	justify-items: center;
	justify-content: center;
}

.section-header h3 {
  font-size: 5em;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
}
.section-header h3:after{
	content: "";
	background-color: black;
	position: absolute;
	width: 7em;
	height: 7px;
	left: calc(50% - 3.5em);
	bottom: 10px;
}

.about-block {
	position: relative;
	display: flex;
	text-align: center;
	border: 3px solid #00853E;
	margin: 0 0 5px 0;
	padding: 2px;
	width: 75%;
	align-items: center;
}
.about-block:hover .block-icon i,
.about-block:hover h2 a {
	color: #00853E;
	transition: 150ms;
}
.about-block:hover .block-icon {
	background-color: black;
}
.about-block img {
	max-width: 750px;
	max-height: 400px;
}
.about-block .block-icon {
	font-size: 3em;
  width: 2em;
  height: 2em;
  background-color: #00853E;
  border-radius: 100%;
	position: relative;
  left: -50px;
}
.about-block i {
  color: black;
	width: inherit;
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-block .block-text {
	padding: 2em 0 0 0;
}
.about-block .content {
	margin: auto;
	padding: 0 15px;
}
.about-block h2 {
  font-weight: 700;
  font-size: 2.2em;
  padding: 0;
	margin: 0;
}
.about-block p {
  font-size: 1em;
  color: black;
  margin: 0;
  text-align: center;
	padding: 15px;
}

.team-button {
	background: #00853E;
	display: flex;
	justify-content: center;
	width: 50%;
	margin: 20px auto;
}
.team-button a {
	font-size: 1.5em;
  margin: 1rem;
}
.team-button:hover,
.team-button:hover a {
	color: #00853E;
	background: #111;
}

@media all and (max-width: 1700px) {
	.about-block img {
		max-width: 500px;
		max-height: 266px;
	}
	.team-button {
		width: 65%;
	}
}
@media all and (max-width: 1450px) {
	.about-block {
		display: table;
	}
	.section-header h3:after{
		height: 5px;
	}
	.about-block .block-text {
		padding: 0;
	}
	.about-block .block-icon {
		left: calc(50% - 50px);
		margin: 10px 0 0 0;
	}
	.about-block img {
		max-width: 500px;
		max-height: 266px;
	}
	.about-block p {
		padding: 0;
		padding-bottom: 15px;
	}
	.team-button {
		width: 65%;
	}
}
@media all and (max-width: 1000px) {
	.section-header h3 {
		font-size: 3.5em;
	}
	.about-block {
		display: table;
	}
	.about-block img {
		max-width: 500px;
		max-height: 266px;
	}
	.team-button {
		width: 65%;
	}
}
@media all and (max-width: 650px) {
	.section-header h3 {
		font-size: 2em;
	}
	.section-header h3:after{
		height: 3px;
	}
	.about-block {
		display: table;
	}
	.about-block img {
		max-width: 275px;
		max-height: 135px;
	}
	.about-block h2 {
		font-size: 2em;
	}
	.about-block p {
		font-size: 1em;
	}
	.team-button {
		width: 95%;
	}
}
