---
---

@import "minima";

@import "assets/shpe-header.scss", "assets/shpe-footer.scss";

@import "assets/home.scss", "assets/about.scss";
@import "assets/team.scss";


// Below is unsure scss files for websites to be styled correctly
@import "assets/contacts";
@import "assets/testimonials";
@import "assets/hero";
@import "assets/clients";
@import "assets/portfolio";
@import "assets/blog";
@import "assets/services";
@import "assets/featured";
@import "assets/facts";
@import "assets/call2action";
@import "assets/back2top";
@import "assets/breadcrumbs";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: white;
	color: black;
}

a {
	color: black;
}

a:hover, a:active, a:focus {
  color: #00853E;
  outline: none;
  text-decoration: none;
}

a:visited {
	color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0 0 0.3em 0;
}

.content { 
	background: blue;
	margin: 0 5em 0 5em;
	// display: relative;
}
