---
---

@import "minima";
@import "assets/shpe-header", "assets/shpe-footer";
@import "assets/home.scss", "assets/team.scss", "assets/about.scss";


// Below is unsure scss files for websites to be styled correctly
@import "assets/sections";
@import "assets/contacts";

@import "assets/testimonials";
@import "assets/hero";
@import "assets/clients";
@import "assets/portfolio";
@import "assets/blog";
@import "assets/services";
@import "assets/featured";
@import "assets/facts";
@import "assets/call2action";
@import "assets/back2top";
@import "assets/contacts";
@import "assets/breadcrumbs";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: white;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: white;
}

a:hover, a:active, a:focus {
  color: #00853E;
  outline: none;
  text-decoration: none;
}

a:visited {
	color: black
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #18d26e;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
