/*-------------------------------
    Team Section
--------------------------------*/
.team {
	text-align: center;
	font-size: 1.5em;
}
.team-title {
	display: flex;
	justify-content: center;
	color: #00853E;
	font-size: 4.5em;
	font-weight: bold;
}
.section-header {
	display: flex;
	justify-content: center;
}
.section-header h3 { font-size: 3em; }
.row-3 {
	display: flex;
	justify-content: center;
}
.row-2, .row-1 {
	display: flex;
	justify-content: center;
}
.column {
	float: left;
	width: 30%
}
.member {
	margin: 5px 5px 25px 5px;
	height: 100%; 
	background: #00853E;
	position: relative;
	font-size: 2em;
}
.member-info {
	font-size: 0.5em;
}
.member-info p {
	margin: 2px;
}
.name {
  font-weight: bold;
	border-bottom: 1px solid black;
}
.office-position {
	font-size: 85%;
	border-bottom: 1px solid black;
}
.degree {
	font-size: 65%;
}
.social, .social a, .social a:visited {
  background-color: black;
  color: white;
	padding-top: 6px;
	padding-bottom: 9px;
}
.social i {
	font-size: 0.8em;
	color: black;
	background-color: #00853E;
	padding: 10px;
}

@media all and (max-width:1000px) {
	.team-title { font-size: 2.5em; }
	.section-header h3 { font-size: 1.5em; }
	.row-3, .row-2, .row-1 {
		display: inline-block;
	}
	.member { 
		margin: 10px auto;
		max-width:75% 
	}
	.column {
		float: none;
		width: auto;
	}
	.media-info {
		height: 3em;
		font-weight: 100%;
	}
}
