---
layout: default
---
<!-- ======= About Us Section ======= -->
<div id="about">
  <div class="container">
        <header class="section-header">
          <h3>About Us</h3>
        </header>

        <div class="row about-cols">

          <div class="col-md-4"  >
            <div class="about-col">
              <div class="img">
                <img src="/images/backgrounds/jpg/bg_about_mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fa-solid fa-rocket"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p><strong>SHPE </strong> empowers the Hispanic community to realize its greatest potential. We impact the world by allowing access to professional knowledge, supporting all who dream, developing education goals, and promoting the STEM based fields.</p>
            </div>
          </div>

          <div class="col-md-4"  >
            <div class="about-col">
              <div class="img">
                <img src="/images/backgrounds/jpg/bg_about_plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fa-solid fa-dollar-sign"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Values</a></h2>
              <p><strong>SHPE </strong> has four main ideas we value. <strong>Familia, Service, Learning </strong> and <strong>Resilience.</strong></p>
            </div>
          </div>

          <div class="col-md-4"  >
            <div class="about-col">
              <div class="img">
                <img src="/images/backgrounds/jpg/bg_about_vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fa-solid fa-globe"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p><strong>SHPE's vision</strong> is a world where Hispanics are highly valued and influential as the leading innovators, scientists, mathematicians and engineers.</p>
            </div>
          </div>

					<div class="team-button">
						<a href="/team"><strong>Current Team</strong></a>
					</div>
					        
				</div><!-- end of class row about-cols -->
	</div><!-- end of container -->
</div>
<!-- End About Us Section -->
