---
layout: default
---
<!-- ======= About Us Section ======= -->
<div id="about">
  <div class="container">
			<header class="section-header">
				<h3>About Us</h3>
			</header>

			<div class="about-block">
				<img src="/images/backgrounds/jpg/bg_about_mission.jpg" alt="" class="img-fluid">
				<div class="block-icon"><i class="fa-solid fa-rocket"></i></div>
				<div class="content">
				<div class="block-text">
					<h2><a href="#">Our Mission</a></h2>
					<p><strong>SHPE</strong> empowers the Hispanic community to realize its greatest potential. We impact the world by allowing access to professional knowledge, supporting all who dream, developing education goals, and promoting the STEM based fields.</p>
				</div>
				</div>
			</div>

			<div class="about-block">
				<img src="/images/backgrounds/jpg/bg_about_plan.jpg" alt="" class="img-fluid">
				<div class="block-icon"><i class="fa-solid fa-dollar-sign"></i></div>
				<div class="content">
				<div class="block-text">
					<h2><a href="#">Our Values</a></h2>
					<p><strong>SHPE</strong> has four main ideas we values.<br><strong>Familia, Service, Learning,</strong> and <strong>Resilience</strong>.</p>
				</div>
				</div>
			</div>

			<div class="about-block">
				<img src="/images/backgrounds/jpg/bg_about_vision.jpg" alt="" class="img-fluid">
				<div class="block-icon"><i class="fa-solid fa-globe"></i></div>
				<div class="content">
				<div class="block-text">
					<h2><a href="#">Our Vision</a></h2>
					<p><strong>SHPE's vision</strong> is a world where Hispanics are highly valued and influential as the leading innovators, scienctists, mathematicians, and engineers.</p>
				</div>
				</div>
			</div>

			<div class="team-button">
				<a href="/team"><strong>Meet the Team!</strong></a>
			</div>
					        
	</div><!-- end of container -->
</div>
<!-- End About Us Section -->
