---
layout: default
---

<!-- ======= About Us Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>
        </header>
        
        <div class="row about-cols">

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-bar-chart"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                <strong>SHPE </strong> empowers the Hispanic community to realize its greatest potential. We impact the world by allowing access to professional knowledge, supporting all who dream, developing education goals, and promoting the STEM based fields.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-brightness-high"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Values</a></h2>
              <p>
                <strong>SHPE </strong> has four main ideas we value. <strong>Familia, Service, Learning </strong> and <strong>Resilience.</strong>
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <img src="assets/img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
               <strong>SHPE's vision</strong> is a world where Hispanics are highly valued and influential as the leading innovators, scientists, mathematicians and engineers.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section>
<!-- End About Us Section -->

<!-- ======= Team Section ======= -->
    <section id="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>2022-23 Executive Board</h3>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <img src="assets/img/Officer Photos/Humberto.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Humberto Romero</h4>
                  <span>President</span>
                  <span>Electrical Engineering</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/humberto-romero-062524178/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <img src="assets/img/Officer Photos/Chris.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Chris Gomez</h4>
                  <span>External Vice President</span>
                  <span>Mechanical and Energy Engineering</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/chris-gomez-86976b1ba/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <img src="assets/img/Officer Photos/Josh.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Josh Medrano</h4>
                  <span>Internal Vice President</span>
                  <span>Mechanical and Energy Engineering</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/joshua-christian-medrano-759183ba/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/Ryan.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Ryan Melon</h4>
                  <span>Secretary</span>
                  <span>Mechanical Engineering Technology</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/ryanmelon/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/Diana.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Diana Gallegos</h4>
                  <span>Treasurer</span>
                  <span>Computer Science</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/dianagallegoscastillo/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/Raul.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Raul Vides</h4>
                  <span>Public Relations</span>
                  <span>Electrical Engineering</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/rvides24/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/Dominic.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Dominic Carrillo</h4>
                  <span>Graduate Representative</span>
                  <span>Computer Engineering</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/dwc13/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="section-header">
          <h3>2022-23 Chairs</h3>
        </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img//Officer Photos/Jasmine.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jasmine Ramirez</h4>
                  <span>SHPE Junior</span>
                  <span>Biomedical Engineering</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/jasmine-gloria-ramirez-990b011b6/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/Eunice.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Eunice Batista</h4>
                  <span>Academic Chair</span>
                  <span>Mechanical and Energy Engineering</span>
                  <div class="social">
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos//Edwin.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Edwin Soto-Villela</h4>
                  <span>Webmaster</span>
                  <span>Computer Science</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/edwin-soto-villela/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/Steven.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Steven Jamaica</h4>
                  <span>Historian</span>
                  <span>Computer Science</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/steven-jamaica-900749154/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/Cecila.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Cecilia Rodriguez</h4>
                  <span>Social Chair</span>
                  <span>Mechanical and Energy Engineering</span>
                  <div class="social">
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/Fernanda.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Fernanda Padilla</h4>
                  <span>SHPEtinas Director</span>
                  <span>Construction Engineering Technology</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/maria-f-padilla-platas/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/RyanTijeria.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Ryan Tijerina</h4>
                  <span>MentorSHPE Director</span>
                  <span>Mechanical and Energy Engineering</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/ryan-tijerina-231486180/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              <img src="assets/img/Officer Photos/Jamie.png" class="img-fluid" alt="">
              <div class="member-info">
                <div class="member-info-content">
                  <h4>Jaime Martinez</h4>
                  <span>Athletic Director</span>
                  <span>Accounting</span>
                  <div class="social">
                    <a href="https://www.linkedin.com/in/jaime-martinez-823275172/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
<!-- End Team Section -->
