---
layout: default
---

<!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active" style="background-image: url(assets/img/MainPage/435c52ef-b1b9-45ae-8579-91c293f2b0d2.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown" style="text-align:center;">Society of Hispanic Professional Engineers</h2>
                <div class="animate__animated animate__fadeInDown" style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:inherit">
                  <a>
                    <img src="assets/img/MainPage/North_Texas_Mean_Green_logo.svg.png" alt="Picture" style="width:auto;max-width:100px">
                  </a>
                </div>
                <h2 class="animate__animated animate__fadeInDown" style="text-align:center;">University of North Texas</h2>
                <a href="about.html" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<!-- End Hero Section -->
</body>
