---
layout: default
---
<!-- ======= Team Section ======= -->
<section id="team">
<p class="team-title">2022 - 2023 UNT TEAM</p>
      <div class="container">
        <div class="section-header">
          <h3>Executive Board</h3>
        </div>

        <div class="exec-board">

				<div class="row-3">

				<div class="member column">
        	<img src="/images/officers/png/Humberto.png" alt="">
          <div class="member-info">
  					<p class="name">Humberto Romero</p>
						<p class="member-info-content">
            	President<br>Electrical Engineering
            </p>
						<div class="social">
            	<a href="https://www.linkedin.com/in/humberto-romero-062524178/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</div>
  				</div>
       	</div>

            <div class="member column">
              <img src="/images/officers/png/Chris.png" alt="">
              <div class="member-info">
                <p class="name">Chris Gomez</p>
                <p class="member-info-content">
                  External Vice President<br>Mechanical and Energy Engineering
								</p>
                <div class="social">
                  <a href="https://www.linkedin.com/in/chris-gomez-86976b1ba/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="member column">
              <img src="/images/officers/png/Josh.png" alt="">
              <div class="member-info">
                <p class="name">Josh Medrano</p>
                <p class="member-info-content">
                  Internal Vice President<br>Mechanical and Energy Engineering
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/joshua-christian-medrano-759183ba/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

					</div><!-- end row -->

					<div class="row-3">

            <div class="member column">
              <img src="/images/officers/png/Ryan.png" alt="">
              <div class="member-info">
                <p class="name">Ryan Melon</p>
                <p class="member-info-content">
                  Secretary<br>Mechanical and Energy Engineering
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/ryanmelon/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="member column">
              <img src="/images/officers/png/Diana.png" alt="">
              <div class="member-info">
                <p class="name">Diana Gallegos</p>
                <p class="member-info-content">
                  Treasure<br>Computer Science
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/dianagallegoscastillo/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="member column">
              <img src="/images/officers/png/Raul.png" alt="">
              <div class="member-info">
                <p class="name">Raul Vides</p>
                <p class="member-info-content">
                  Public Relations<br>Electrical Engineering
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/rvides24/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

						</div> <!-- end row -->

						<div class="row-1">

            <div class="member column">
              <img src="/images/officers/png/Dominic.png" alt="">
              <div class="member-info">
                <p class="name">Dominic Carrillo</p>
                <p class="member-info-content">
                  Graduate Representative<br>Computer Engineering
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/dwc13/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
						
						</div> <!-- end row -->

				</div> <!-- end exec-board -->

        <div class="section-header">
          <h3>Chairs</h3>
        </div>
<div class="chair-board">

						<div class="row-3">

            <div class="member column">
              <img src="/images/officers/png/Jasmine.png" alt="">
              <div class="member-info">
                <p class="name">Jasmine Ramirez</p>
                <p class="member-info-content">
                  SHPE Junior<br>Biomedical Engineering
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/jasmine-gloria-ramirez-990b011b6/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="member column">
              <img src="/images/officers/png/Eunice.png" alt="">
              <div class="member-info">
                <p class="name">Eunice Batista</p>
                <p class="member-info-content">
                  Academic Chair<br>Mechanical and Energy Engineering
                </p>
								<div class="social">
                    <!-- <a href="https://www.linkedin.com/in/address/"><i class="fa fa-linkedin"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="member column">
              <img src="/images/officers/png/Edwin.png" alt="">
              <div class="member-info">
                <p class="name">Edwin Soto-Villela</p>
                <p class="member-info-content">
                  Webmaster<br>Computer Science 
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/edwin-soto-villela/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

						</div> <!-- end row -->

						<div class="row-3">

            <div class="member column">
              <img src="/images/officers/png/Steven.png" alt="">
              <div class="member-info">
                <p class="name">Steven Jamica</p>
                <p class="member-info-content">
                  Historian<br>Computer Science
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/address/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="member column">
              <img src="/images/officers/png/Cecilla.png" alt="">
              <div class="member-info">
                <p class="name">Cecila Rodriguez</p>
                <p class="member-info-content">
                  Social Chair<br>Mechanical and Energy Engineering
                </p>
								<div class="social">
                    <!-- <a href="https://www.linkedin.com/in/address/"><i class="fa fa-linkedin"></i></a> -->
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="member column">
              <img src="/images/officers/png/Fernanda.png" alt="">
              <div class="member-info">
                <p class="name">Fernanda Padilla</p>
                <p class="member-info-content">
                  SHPEtinas Director<br>Construction Engineering
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/maria-f-padilla-plates/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

						</div> <!-- end row -->

						<div class="row-2">

            <div class="member column">
              <img src="/images/officers/png/RyanTijeria.png" alt="">
              <div class="member-info">
                <p class="name">Ryan Tijerina</p>
                <p class="member-info-content">
                  MentorSHPE<br>Mechanical and Energy Engineering
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/ryan-tijerina-231486180/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

            <div class="member column">
              <img src="/images/officers/png/Jamie.png" alt="">
              <div class="member-info">
                <p class="name">Jaime Martinez</p>
                <p class="member-info-content">
                  Athletic Director<br>Accounting
                </p>
								<div class="social">
                    <a href="https://www.linkedin.com/in/jaime-martinez-823275172/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

						</div> <!-- end row -->

		</div>
	</div>
</section>
<!-- End Team Section -->
